name: Deploy

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: github-pages        # must match the upload step
          path: ./dist

      - uses: actions/deploy-pages@v4
        id: deploy
        with:
          source: ./dist
